.signup-user-setup-profile-wrap {
  height: 589px;
  width: 460px;
  background-color: yellow;
  position: relative;
  display: flex;
  flex-direction: column;
}

.signup-user-setup-profile-title {
  height: 30px;
  width: 100%;
  font-size: 25px;
  font-family: "britanica-heavy";
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-user-setup-profile-previous-step{
    position: absolute;
    top: 2.85px;
    left: 0px;
    cursor: pointer;
}
.signup-user-setup-profile-banner-and-profile-pic{
    height: 180.75px;
    width: 100%;
    margin-top: 30px;
    background-color: wheat;
}
.signup-user-setup-profile-banner-container{
    width: 100%;
    height: 110.75px;
    max-width: 100%;
    max-height: 110.75px;
    border-radius: 10px;
    background: #D9D9D9;
    position: relative;
}
.signup-user-setup-profile-banner-add-button{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    right: 9px;
    border-radius: 50%;
    background: #F6D463;
box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
cursor: pointer;
border: none;
}
.signup-user-setup-profile-banner-add-button:hover{
    background-color: #f7c520 !important;
    transition-duration: 300ms;
}
.signup-user-setup-profile-banner-add-button:active{
    transform: scale(0.85);
}
/* .signup-user-setup-profile-banner-add-button input{
position: absolute;
top: 0;
right: 0;
opacity: 0;
cursor: pointer;
width: 100%;
height: 100%;
} */

