.athleteprofilepage-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.athleteprofilepage-profilesubmenu-wrap{
    display: flex;
    width: 100%;
    max-width: 1240px;
}
.athleteprofilepage-formulatedoffers-wrap{
    max-width: 1246px;
    width: 100%;
}
@media (max-width: 1300px) {
    .athleteprofilepage-component{
        width: 94%;
    }
}