.athleteprofilenftcollection-component {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1246px;
}
.athleteprofilenftcollectiontemplate-component:nth-child(2n + 1) {
  margin-right: 30px !important;
}
.athleteprofilenftcollectiontemplate-component:nth-child(n) {
  margin-top: 26px;
  flex: 48%;
}
