.feedsuggestions-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 286px;
  min-height: 280px;
  overflow: hidden;
  /* Suggestion: mettre 3 petits points pour les noms à rallonge */
}
.feedlaunchpad-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.feedlaunchpad-header-container > span {
  font-family: "Britanica-Heavy";
  font-size: 20px;
}
.feedlaunchpad-header-container > a {
  font-family: "Britanica-Regular";
  text-decoration: none;
  color: #000000;
}
.feedlaunchpad-header-button-suggestion {
  font-size: 13px;
}
@media (max-width: 950px) {
  .feedsuggestions-component{
    width: 200px;
  }
  /* .feedlaunchpad-header-button{
    display: none;
  } */
}
