.athleteprofileevent-component {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  max-width: 1246px;
}
.athleteprofileeventtemplate-component:nth-child(n){
    margin-top: 20px;
    margin-right: 20px;
    flex: 30%;
}
.athleteprofileeventtemplate-component:nth-child(3n) {
  margin-right: 0px !important;
}
/* @media (max-width: 1300px) {
    .athleteprofileevent-component {
      width: 100%;
    }
  }
*/