 body .signup-athlete-page {
    height: 100% !important;
    width: 100vw !important;
    /* background-color: aqua;  */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'britanica-regular' !important;
    flex-direction: column;
  }
.signup-athlete-elements
{
  height: 88%;
  width: 100%;
  /* background-color: green; */
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-direction: column !important;
}

.steps-signup{
  height: 60px;
  font-family: "britanica-heavy";
  width: 100%;
  text-align: center;
  opacity: 0.5;
  
}
.progress-bar-container{
  width: 80%;
  height: 3%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  /* background-color: red;  */
}

.progress-bar {
  background-color: #FFF2C7;
  height: 25px;
  /* z-index: 1; */
}



/* .bg-progress-bar:hover {
  background-color: red;
  cursor: pointer;
} */