/* Move to PostFeed.js */
.publication-container {
  /* max-height: 900px; */
  /* background-color: blue; */
  
}
.publication-head-left-container {
  max-height: 40px;
  height: 40px;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.publication-head-left-container:hover{
  background-color: #00000015;
  transition-duration: 300ms !important;
  border-radius: 10px;
  cursor: pointer;
}
.athlete-name-publication {
  font-size: 16px;
  font-family: "britanica-heavy";
}

.profilepic-athlete-publication {
  height: 40px;
  width: 40px;
  background-color: rgb(187, 204, 204);
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.age-publication {
  font-size: 14px;
  /* font-family: 'Montserrat'; */
  line-height: 17px;
  opacity: 0.5;
}

.publication-head-right-container {
  height: 25px;
  width: 100%;
  /* background-color: blue; */
  max-width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.publication-type {
  border-radius: 10px;
  background-color: #f6d463;
  width: 84px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "britanica-regular";
  font-size: 14px;
  cursor: pointer;
}
.publication-type:hover {
  background-color: #f7c520;
  transition: 500ms;
}

@media (max-width: 1450px) {
  .publication-head-left-container {
    width: 45%;
  }
  .publication-head-left-container-size-pollpost {
    width: 40%;
  }
  .publication-type {
    width: 69px;
    height: 22px;
  }
  .publication-type-pollpost {
    width: 84px;
    height: 25px;
  }
}
@media (max-width: 1050px) {
  .publication-head-left-container {
    width: 55%;
  }
  .publication-head-left-container-size-pollpost{
    width: 40%;
  }
  .age-publication {
    font-size: 12px;
  }
  .age-publication-pollpost{
    font-size: 14px ;
  }
  .athlete-name-publication {
    font-size: 14px;
  }
  .athlete-name-publication-pollpost {
    font-size: 16px;
  }
  .publication-type {
    font-size: 12px;
    width: 60px;
    height: 18px;
  }
  .publication-type-pollpost {
    width: 84px;
    height: 25px;
  }
  .publication-head-right-container {
    max-width: 100px;
  }
  .publication-head-right-container-pollpost{
    max-width: 150px;
  }
}
@media (max-width: 900px) {
  .publication-head-left-container {
    width: 55%;
  }
  .publication-head-left-container-size-pollpost{
    width: 40%;
  }
  .profilepic-athlete-publication {
    width: 35px !important;
    height: 35px !important;
  }
  .profilepic-athlete-publication img {
    width: 35px !important;
    height: 35px !important;
  }
  .athlete-name-publication {
    font-size: 12px;
  }
  .athlete-name-publication-pollpost {
    font-size: 16px;
  }
  .age-publication {
    font-size: 10px;
  }
  .age-publication-pollpost{
    font-size: 14px ;
  }
  .publication-type {
    font-size: 10px;
    width: 50px;
    height: 18px;
  }
  .publication-type-pollpost {
    width: 84px;
    height: 25px;
    font-size: 14px;
  }
  .publication-head-right-container {
    max-width: 100px;
  }
  .publication-head-right-container-pollpost{
    max-width: 150px;
  }
}
