.Invalid:invalid { 
    border: 2px solid red!important;
    animation: shake 0.2s 2;
}
.newsletter-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes shake {
    25% {
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
    75% {
        translate: 6px 0;
    }
}

.Valid {
    border: 2px solid green!important;
}
.subscribe-button:hover{
    background-color: #f7c520 !important;
}