.launchpadalllivelaunches-component {
  display: flex;
  flex-direction: column;
}
.launchpadalllivelaunches-top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1246px;
}
.launchpadalllivelaunches-top-wrap > span {
  font-family: "Britanica-Heavy";
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  height: 42px;
}
.launchpadalllivelaunches-top-wrap-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 207px;
  height: 37px;
  border: 0.3px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.launchpadalllivelaunches-top-wrap-dropdown-clicked {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.launchpadalllivelaunches-top-wrap-dropdown > span {
  padding-left: 10px;
  font-family: "Britanica-Regular";
  line-height: 19px;
}
.launchpadalllivelaunches-top-wrap-dropdown > img {
  padding-right: 10px;
}
.launchpadalllivelaunches-top-wrap-dropdown-choice-wrap {
  position: absolute;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  border: 0.3px solid #000000;
  width: 197px;
  height: 90px;
  z-index: 999;
  top: 37px;
  left: -1px;
  padding-left: 10px;
  font-family: "Britanica-Regular";
  line-height: 19px;
}
.launchpadalllivelaunches-top-wrap-dropdown-choice-wrap > ul > li:nth-child(1) {
  padding-top: 5px;
}
.launchpadalllivelaunches-bottom-wrap {
  display: flex;
  width: 100%;
  max-width: 1300px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  max-height: 550px;
  margin-top: 20px;
}
.launchpadalllivelaunches-bottom-wrap::-webkit-scrollbar {
  display: none;
}
.launchpadalllivelaunches-bottom-wrap > div {
  display: flex;
  scroll-behavior: smooth !important;
}
