.fake-component{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.fake-component-open{
    width: 500px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
}