.button-component{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.button-component:hover{
    background-color: #f7c520 !important;
    transition-duration: 300ms !important;
}