.input-comment-container-publication {
  height: 80px;
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-comment-elements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  background: rgba(60, 64, 69, 0.04);
  border-radius: 10px;
  height: 50px;
  width: 100%;
}

.emoji-comment-publication {
}

.input-comment-publication {
  width: 60%;
  border: none;
  background: none;
  height: 100%;
}
.input-comment-publication:focus {
  border: none;
  outline: none;
}
.input-comment-publication::placeholder {
  font-family: "britanica-regular";
  color: #9b9b9b;
  font-size: 16px;
}
.publish-comments-button-container-publication {
}

.publish-comments-button-container-publication > a > button {
  /* outline: none; */
  border: none;
  background: none;
  font-family: "britanica-black";
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 1350px) {
  /* .input-comment-container-publication{
    height: 50px;
  } */
}