.input-comment-container-publication {
  height: 80px;
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-comment-elements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  background: rgba(60, 64, 69, 0.04);
  border-radius: 10px;
  height: 50px;
  width: 100%;
}

.input-comment-publication {
  width: 60%;
  border: none;
  background: none;
  height: 100%;
}
.input-comment-publication:focus {
  border: none;
  outline: none;
}
.input-comment-publication::placeholder {
  font-family: "britanica-regular";
  color: #9b9b9b;
  font-size: 16px;
}

.publish-comments-button-container-publication > a > button {
  border: none;
  background: none;
  font-family: "britanica-black";
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 1350px) {
  .input-comment-container-publication {
    height: 50px;
  }
}
@media (max-width: 1050px) {
  .emoji-comment-publication svg {
    width: 18px;
    position: relative;
    /* left: -70% !important; */
  }
  .emoji-comment-publication-pollpost svg {
    width: 25px;
  }
  .publish-comments-button-container-publication {
    width: 20%;
  }
  .publish-comments-button-container-publication-pollpost {
    width: auto;
  }
  .publish-comments-button-container-publication button {
    font-size: 14px !important;
  }
  .publish-comments-button-container-publication-pollpost button {
    font-size: 16px !important;
  }
}
@media (max-width: 900px) {
  .input-comment-container-publication {
    height: 40px;
    width: 95%;
  }
  .input-comment-container-publication-pollpost {
    height: 80px;
    width: 100%;
  }
  .input-comment-elements {
    height: 40px;
  }
  .input-comment-elements-pollpost {
    height: 50px;
  }
  .input-comment-publication {
    width: 90%;
    font-size: 14px !important;
  }
  .input-comment-publication-pollpost {
    width: 60%;
    font-size: 14px !important;
  }
  .input-comment-publication::placeholder {
    font-size: 14px;
  }
  .emoji-comment-publication svg {
    width: 16px;
    position: relative;
  }
  .emoji-comment-publication-pollpost svg {
    width: 25px;
  }
  .publish-comments-button-container-publication {
    width: 40%;
  }
  .publish-comments-button-container-publication-pollpost {
    width: auto;
  }
  .publish-comments-button-container-publication button {
    font-size: 14px !important;
  }
  .publish-comments-button-container-publication-pollpost button {
    font-size: 16px !important;
  }
}