.launchpadallheader-component {
  width: 100%;
  max-height: 500px;
  position: relative;
}
.launchpadallheader-component > img {
  width: 100%;
  max-width: 1243px;
  height: 100%;
  border-radius: 20px;
}
.launchpadallheader-data-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 1243px;
  top: 0;
  border-radius: 20px;
  background: linear-gradient(
    84.22deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 33.41%,
    rgba(0, 0, 0, 0.078) 100.23%
  );
}
.launchpadallheader-data-wrap {
  height: 304px; /* Test max height*/
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.launchpadallheader-data-wrap-img {
  background-color: white;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.launchpadallheader-data-wrap-img > img {
  width: 46px;
  height: 46px;
  border-radius: 5px;
}
.launchpadallheader-data-wrap-athletename {
  font-family: "Britanica-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.launchpadallheader-data-wrap-title {
  font-family: "Britanica-Heavy";
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
  margin-top: 6px;
}
.launchpadallheader-data-wrap-description {
  font-family: "Britanica-Regular";
  line-height: 19px;
  color: #ffffff;
  max-width: 552px;
  margin-top: 5px;
}
.launchpadallheader-data-wrap-nft {
  font-family: "Britanica-Heavy";
  line-height: 19px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 25px;
}
@media (max-width: 1150px) {
  .launchpadallheader-data-wrap {
    height: 289px;
    margin-left: 38px;
  }
  .launchpadallheader-data-wrap-img {
    border-radius: 4.75px;
    width: 47.5px;
    height: 47.5px;
    margin-bottom: 9.5px;
  }
  .launchpadallheader-data-wrap-img > img {
    width: 43.7px;
    height: 43.7px;
    border-radius: 4.75px;
  }
  .launchpadallheader-data-wrap-athletename {
    line-height: 18px;
  }
  .launchpadallheader-data-wrap-title {
    font-size: 33.25px;
    line-height: 39.9px;
    margin-top: 5.7px;
  }
  .launchpadallheader-data-wrap-description {
    line-height: 18px;
    max-width: 524.4px;
    margin-top: 4.75px;
  }
  .launchpadallheader-data-wrap-nft {
    line-height: 18px;
    margin-top: 14.25px;
    margin-bottom: 23.75px;
  }
  .launchpadallheader-data-wrap > button {
    width: 111.15px !important;
    height: 41.8px !important;
    border-radius: 4.75px !important;
    font-size: 19px !important;
  }
}
@media (max-width: 1050px) {
  .launchpadallheader-data-wrap {
    height: 258px;
    margin-left: 34px;
  }
  .launchpadallheader-data-wrap-img {
    border-radius: 4.25px;
    width: 42.5px;
    height: 42.5px;
    margin-bottom: 8.5px;
  }
  .launchpadallheader-data-wrap-img > img {
    width: 39.1px;
    height: 39.1px;
    border-radius: 4.25px;
  }
  .launchpadallheader-data-wrap-athletename {
    line-height: 16px;
  }
  .launchpadallheader-data-wrap-title {
    font-size: 29.75px;
    line-height: 35.7px;
    margin-top: 5.1px;
  }
  .launchpadallheader-data-wrap-description {
    line-height: 16px;
    max-width: 469.2px;
    margin-top: 4.25px;
  }
  .launchpadallheader-data-wrap-nft {
    line-height: 16px;
    margin-top: 12.75px;
    margin-bottom: 21.25px;
  }
  .launchpadallheader-data-wrap > button {
    width: 99.45px !important;
    height: 37.4px !important;
    border-radius: 4.25px !important;
    font-size: 17px !important;
  }
}
@media (max-width: 900px) {
  .launchpadallheader-data-wrap {
    height: 228px;
    margin-left: 30px;
  }
  .launchpadallheader-data-wrap-img {
    border-radius: 3.75px;
    width: 37.5px;
    height: 37.5px;
    margin-bottom: 7.5px;
  }
  .launchpadallheader-data-wrap-img > img {
    width: 34.5px;
    height: 34.5px;
    border-radius: 3.75px;
  }
  .launchpadallheader-data-wrap-athletename {
    line-height: 14.25px;
  }
  .launchpadallheader-data-wrap-title {
    font-size: 26.25px;
    line-height: 31.5px;
    margin-top: 4.5px;
  }
  .launchpadallheader-data-wrap-description {
    line-height: 14.25px;
    max-width: 414px;
    margin-top: 3.75px;
  }
  .launchpadallheader-data-wrap-nft {
    line-height: 14.25px;
    margin-top: 11.25px;
    margin-bottom: 18.75px;
  }
  .launchpadallheader-data-wrap > button {
    width: 87.75px !important;
    height: 33px !important;
    border-radius: 3.75px !important;
    font-size: 15px !important;
  }
}
