.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-container .copyright-section {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: 600;
}