.fourthstep-container {
  height: 80%;
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-fourthstep {
  font-family: "britanica-heavy" !important;
  font-size: 30px;
}
.fourthstep-form-container {
  height: 70%;
  width: 100%;
}
.fourthstep-container form {
  height: 100%;
  width: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.button-counterpart-fourthstep {
  width: 20%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  background-image: #ffffff;
  opacity: 1 !important;
  background: none;
  border-radius: 10px;
  cursor: pointer;
}

.fourthstep-container button:hover {
  background-color: #f6d463 !important;
}
.validation-button-container {
    
  /* height: 10%; */
  height: 150px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.validation-button {
    
  width: 196px !important;
  height: 67px !important;
  border-radius: 10px;
  border: none;
  background-color: #f6d463 ;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: "britanica-heavy";
}

/* .validation-button:hover{
    font-size: 30px;
    background-color: #0c0c0a;
    transition: 500ms;
    color: red;
} */

.hide-textbutton-signup-athlete {
  display: none;
}