.creation-post-component {
  position: relative;
  background-color: rgba(155, 155, 155, 0.479);
  /* background-color: rgba(155, 155, 155, 0.1); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.creation-post-container {
  width: 500px;
  /* height: 566px; */
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creation-post-wrap{
    width: 461px;
    /* height: 524px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.creation-post-wrap > button {
    height: 56px;
}
.creation-text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.creation-text-wrap > span {
  font-family: "Britanica-Heavy";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.creation-text-wrap > img {
    width: 25px;
    height: 25px;
}