.navbar-container{
    /* height: 70px; */
    height: 10vh;
    width: 100%;
    /* "sticky" work ONLY when there is a component under */
    /* but fixed create issue */
    position: sticky;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(218, 151, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-container svg {
    fill: black;
}