.navbar-container{
    /* height: 70px; */
    height: 10vh;
    width: 100%;
    /* position: sticky; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(218, 151, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-container svg {
    fill: black;
}