.nft-collection-more-about-nft-container {
  width: 100%;
  height: 100%;
  max-width: 1248.01px;
  max-height: 522.79px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.nft-collection-more-about-nft-card-container {
  /* width: 299.11px;
  background-color: blue; */
  width: 100%;
  height: 452.79px;
  display: flex;
  flex-wrap: wrap;
}
.nft-collection-more-about-nft-container img {
  width: 299px;
  height: 299px;
  border-radius: 10px 10px 0px 0px;
}

.nft-collection-more-about-nft-title-and-button {
  height: 36px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
  font-family: "Britanica-Heavy";
}

.nft-collection-more-about-title-button {
}
.nft-collection-more-about-title-button button {
  border: none;
  background: none;
  border-radius: 5px;
  background-color: #f6d463;
  width: 110px;
  height: 44px;
  font-size: 20px;
  font-family: "britanica-heavy";
}
