.nft-collection-more-about-nft-container {
  width: 100%;
  /* height: 100%; */
  height: 1200px;
  max-width: 1306.01px;
  /* max-height: 622.79px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
  /* background-color: red; */
}
.nft-collection-more-about-nft-wrap{
<<<<<<< HEAD
  width: 100%;  
  max-width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgb(16, 207, 207); */
  
}

.nft-collection-more-about-nft-card-container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  /* background-color: blue;  */
=======
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(16, 207, 207); */
>>>>>>> staging
}
.nft-collection-more-about-nft-card-container img {
  /* width: 299px; */
  /* height: 299px; */
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.nft-collection-more-about-nft-title-and-button {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Britanica-Heavy";
  /* background-color: yellow; */
}

.nft-collection-more-about-nft-title {
  font-size: 30px;
}
.nft-collection-more-about-title-button button {
  border: none;
  background: none;
  border-radius: 5px;
  background-color: #f6d463;
  width: 110px;
  height: 44px;
  font-size: 20px;
  font-family: "britanica-heavy";
  cursor: pointer;
}
