.separation-line-horizontal-userprofile {
    border: 0.3px solid #3c4045;
    height: 0;
    opacity: 0.3;
    width: 100%;
    max-width: 1240px;
  }
  #separation-line-horizontal-bottom-userprofile {
    margin-bottom: 20px;
  }
  /* ===== Column with type of data ===== */
  .user-data-types-activity {
    display: flex;
    justify-content: row;
    align-items: center;
    height: 48px;
    font-family: "britanica-black";
    font-size: 14px;
    font-weight: 400;
  }
  .user-nft-type-activity {
    position: relative;
    left: 78px;
  }
  .user-price-type-activity {
    left: 337px;
  
    position: relative;
  }
  .user-quantity-type-activity {
    position: relative;
    left: 424px;
  }
  .user-from-type-activity {
    position: relative;
    left: 567px;
  }
  .user-to-type-activity {
    position: relative;
    left: 759px;
  }
  .user-date-type-activity {
    position: relative;
    left: 1040px;
  }
  @media (max-width: 1300px) {
    .user-activity-container {
      max-width: 1177.66px;
    }
    .user-data-types-activity {
      position: relative;
      /* left: -2.2%; */
    }
    .user-date-type-activity {
      left: 940px;
    }
    .nft-list-activity-user-container {
      max-width: 1177.66px !important;
    }
  }
  @media (max-width: 1200px) {
    .nft-list-activity-user-container{
      max-width: 1100px !important;
      
    }
    .user-to-type-activity{
      left: 700px;
    }
    .user-date-type-activity{
      left: 865px;
    }
  }
  @media (max-width:1080px) {
    .user-from-type-activity{
      left:498px;
    }
    .user-to-type-activity{
      left: 635px;
    }
    .user-date-type-activity{
      left: 750px;
    }
  }
  @media (max-width:970px) {
    .user-price-type-activity{
      left:325px;
    }
    .user-quantity-type-activity{
      left: 375px;
    }
    .user-from-type-activity{
      left: 440px;
    }
    .user-to-type-activity{
      left: 525px;
    }
    .user-date-type-activity{
      left: 620px;
    }
  }
  @media (max-width:870px) {
    .user-from-type-activity{
      left: 425px;
    }
    .user-to-type-activity{
      left: 510px;
    }
    .user-date-type-activity{
      left: 570px;
    }
  }
  