.launchpadallupcominglaunches-component {
    display: flex;
    flex-direction: column;
    /* height: 100%;
    max-height: 550px; */
  }
  .launchpadallupcominglaunches-top-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1246px;
  }
  .launchpadallupcominglaunches-top-wrap > span {
    font-family: "Britanica-Heavy";
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    height: 42px;
  }
  .launchpadallupcominglaunches-top-wrap-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 207px;
    height: 37px;
    border: 0.3px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }
  .launchpadallupcominglaunches-top-wrap-dropdown > span {
    padding-left: 10px;
    font-family: "Britanica-Regular";
    line-height: 19px;
  }
  .launchpadallupcominglaunches-top-wrap-dropdown > img {
    padding-right: 10px;
  }
  .launchpadallupcominglaunches-bottom-wrap {
    display: flex;
    width: 100%;
    max-width: 1300px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    max-height: 550px;
    margin-top: 20px;
  }
  .launchpadallupcominglaunches-bottom-wrap::-webkit-scrollbar {
    display: none;
  }
  .launchpadallupcominglaunches-bottom-wrap > div {
   display: flex;
   scroll-behavior: smooth !important;
  }