.formulated-offers-user-container {
}
.formulated-offers-status-validate {
  background: #85d87e;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: -10%;
}
.formulated-offers-status-cancelled {
  background: #ee4d4d;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: -10%;
}
.formulated-offers-status-pending {
  background: #f6d463;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: -10%;
}
