.user-activity-container {
  height: 100%;
  width: 100%;
  max-height: 463px;
  max-width: 1240px;
  position: relative;
}

.separation-line-horizontal-userprofile {
  border: 0.3px solid #3c4045;
  height: 0;
  opacity: 0.3;
  width: 100%;
  max-width: 1240px;
}
#separation-line-horizontal-bottom-userprofile {
  margin-bottom: 20px;
}
/* ===== Column with type of data ===== */
.user-data-types-activity {
  display: flex;
  justify-content: row;
  align-items: center;
  height: 48px;
  font-family: "britanica-black";
  font-size: 14px;
  font-weight: 400;
}
.user-nft-type-activity {
  position: relative;
  left: 78px;
}
.user-price-type-activity {
  left: 337px;

  position: relative;
}
.user-quantity-type-activity {
  position: relative;
  left: 424px;
}
.user-from-type-activity {
  position: relative;
  left: 567px;
}
.user-to-type-activity {
  position: relative;
  left: 759px;
}
.user-date-type-activity {
  position: relative;
  left: 1040px;
}
.nft-list-activity-user-container {
  overflow: scroll;
  height: 100%;
  max-height: 440px;
}
@media (max-width: 1300px) {
  .user-activity-container {
    max-width: 1177.66px;
  }
  .user-data-types-activity {
    position: relative;
    /* left: -2.2%; */
  }
  .user-date-type-activity {
    left: 940px;
  }
  .nft-list-activity-user-container {
    max-width: 1177.66px !important;
  }
}
@media (max-width: 1200px) {
  .nft-list-activity-user-container{
    max-width: 1100px !important;
    
  }
  .user-to-type-activity{
    left: 700px;
  }
  .user-date-type-activity{
    left: 865px;
  }
}
