/* ===== Display UserActivity ===== */
.user-nft-transfer-container {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: inherit !important;
  /* padding-top: 20px; */
  padding-bottom: 20px;
  max-width: 1245px;
  overflow: hidden;
}
.user-nft-transfer-container > div {
  font-family: "britanica-black";
  font-size: 14px;
}
.user-nft-picture-and-title {
  height: 100%;
  width: 100%;
  position: relative;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 252px;
  font-family: "britanica-heavy";
  font-size: 14px;
}
.user-nft-picture-and-title img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.collection-name-nft-id-user-activity {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
}

/* ===== ===== */
.nft-price-user-activity {
  position: relative;
  left: 55px;

  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.nftc-price-eth-user-activity {
  font-family: "britanica-heavy";
  font-size: 14px;
  line-height: 16.8px;
}
.nft-price-eur-user-activity {
  font-family: "britanica-regular";
  font-size: 14px;
  line-height: 16.8px;
  display: flex;
  justify-content: flex-end;
}
.nft-quantity-user-activity {
  position: relative;
  left: 11.5%;
  width: 52px;
  height: 17px;
  display: flex;
  justify-content: flex-end;
}

.nft-from-user-activity {
  max-width: 117px;
  width: 100%;
  position: relative;
  left: 22.8%;
}

.nft-to-user-activity {
  width: 100%;
  max-width: 110px;
  position: relative;
  left: 31.6%;
}
.nft-date-transfer-user-activity {
  max-width: 110px;
  width: 100%;
  position: relative;
  left: 44%;
}
.nft-decline-received-offers {
  display: none;
}
.nft-accept-received-offers {
  display: none;
}
/* ===== Display Formulated Offers ===== */

.formulated-offers-display-source-type {
  display: none;
}
.formulated-offers-nft-picture-and-title {
  left: 0px;
}
.formulated-offers-your-offers-price {
  left: 145px;
}
.formulated-offers-from {
  left: 258px;
}
.formulated-offers-to {
  left: 465px;
}
.formulated-offers-status {
  left: 515px;
}
.formulated-offers-date {
  left: 585px;
}

/* ===== Received Offers ===== */
.received-offers-nft-picture-and-title {
  left: 0px;
}
.received-offers-offers-price {
  left: 115px;
}
.received-offers-from {
  left: 303px;
}
.received-offers-to {
  left: 430px;
}
.received-offers-date {
  left: 400px;
}
.received-offers-decline {
  cursor: pointer;
  display: flex;
  position: relative;
  left: 450px;
}
.received-offers-accept{
  cursor: pointer;
  display: flex;
  position: relative;
  left: 460px;
}
@media (max-width: 1300px) {
  .nft-date-transfer-user-activity {
    left: 38.9%;
    max-width: 75px;
  }
  .formulated-offers-date {
    left: 43%;
  }
  .received-offers-nft-picture-and-title {
    left: 0px;
  }
  .received-offers-date{
    left: 32.99%;
  }
  .received-offers-decline{
    left:410px;
  }
  .received-offers-accept{
    left: 430px;
  }
}
@media (max-width: 1200px) {
  .nft-to-user-activity {
    left: 28.3%;
  }
  .nft-date-transfer-user-activity {
    left: 34.5%;
  }
  .formulated-offers-to {
    left: 330px;
  }
  .formulated-offers-status {
    left: 360px;
  }
  .formulated-offers-date {
    left: 390px;
  }
  .received-offers-nft-picture-and-title {
    left: 0px;
  }
  .received-offers-from{
    left: 270px;
  }
  .received-offers-to{
    left: 380px;
  }
  .received-offers-date {
    left: 280px;
  }
  .received-offers-decline{
    left: 310px;
  }
  .received-offers-accept{
    left:320px;
  }
}
@media (max-width: 1080px) {
  .nft-date-transfer-user-activity {
    left: 26%;
  }
  .nft-date-transfer-user-activity {
    left: 25%;
  }
  .formulated-offers-your-offers-price {
    left: 100px;
  }
  .formulated-offers-from {
    left: 140px;
  }
  .formulated-offers-to {
    left: 210px;
  }
  .formulated-offers-status {
    left: 237px;
  }
  .received-offers-nft-picture-and-title {
    left: 0px;
  }
  .received-offers-offers-price{
    left: 65px;
  }
  .received-offers-from{
    left: 150px;
  }
  .received-offers-to{
    left: 230px;
  }
  .received-offers-date{
    left: 140px;
  }
  .received-offers-decline{
    left:170px;
  }
  .received-offers-accept{
    left: 180px;
  }
}
@media (max-width: 970px) {
  .user-nft-transfer-container > div {
    font-size: 13px;
  }
  .user-nft-picture-and-title img {
    width: 44px;
    height: 44px;
  }
  .nft-price-user-activity {
    left: 8%;
  }
  .nft-price-eur-user-activity,
  .nftc-price-eth-user-activity {
    font-size: 12px !important;
  }
  .nft-quantity-user-activity {
    left: 10%;
  }
  .nft-from-user-activity {
    left: 18%;
  }
  .nft-to-user-activity {
    left: 18%;
  }
  .nft-date-transfer-user-activity {
    left: 18%;
  }
  .formulated-offers-nft-picture-and-title{
    display: flex;
    /* justify-content: flex-start; */
    left: -10px;
  }
  .formulated-offers-your-offers-price {
    left: 55px;
  }
  .received-offers-nft-picture-and-title {
    left: -10px;
  }
  .received-offers-from{
    left: 125px;
  }
  .received-offers-to{
    left: 200px;
  }
  .received-offers-date{
    left: 90px;
  }
  .received-offers-decline{
    left: 120px;
  }
  .received-offers-accept{
    left: 130px;
  }
}
@media (max-width: 870px) {
  .formulated-offers-nft-picture-and-title {
    left: -12px;
  }
  .nft-date-transfer-user-activity {
    left: 13%;
  }
  .formulated-offers-your-offers-price {
    left: 53px;
  }
  .formulated-offers-from {
    left: 83px;
  }
  .received-offers-to{
    left: 180px;
  }
  .received-offers-date{
    left: 50px;
  }
  .received-offers-decline{
    left: 60px;
  }
  .received-offers-accept{
    left: 70px;
  }
}
