@font-face {
  font-family: 'britanica-regular';
  src: url('./Fonts/britanica-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'britanica-heavy';
  src: url('./Fonts/britanica-heavy.ttf') format('truetype');
}