@font-face {
  font-family: "britanica-regular";
  src: url("./Assets/Fonts/Britanica-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "britanica-heavy";
  src: url("./Assets/Fonts/Britanica-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "britanica-black";
  src: url("./Assets/Fonts/Britanica-Black.ttf") format("truetype");
}
@font-face {
  font-family: "britanica-light";
  src: url("./Assets/Fonts/Britanica-Light.ttf") format("truetype");
}

@media (max-width: 800px) {
  .error-mobile-waiting-page{
    height: 60vh;
    width: 100vw;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 40px;
    font-family: 'britanica-heavy';
  }
  .socials-network-waiting-page{
    height: 45%;   
   }
   .logo-socials-waiting-page{
       width: 60%;
   }
   .svg-socials-waiting-page{
       height: 25px;
       width: 25px;
   }
   .waiting-page-container{
     display: none;
   }
  .page-container{
    display: none !important;
  }
}

/* RESET CSS DEFAULT VALUE */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "britanica-regular" !important;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; */
}

.page-container {
  height: 100vh!important;
  width: 100vw !important;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}