.feedsuggestions-content-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.feedsuggestions-content-container > div {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.feedsuggestions-content-name {
  font-family: "Britanica-Black";
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.feedsuggestions-content-type {
  font-family: "Britanica-Regular";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
