.likes-comments-container-publication {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.like-button-container {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.like-button-container-pollpost{
  width: 105px;
  /* background-color: red; */
}

.likes-counter-publication {
  font-family: "britanica-heavy";
  font-size: 14px;
}
.likes-counter-publication a {
  text-decoration: none;
  color: black;
}
.likes-counter-publication a:hover {
  text-decoration: underline;
}

.comments-publication {
  width: 120px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.comments-counter-publication {
  font-family: "britanica-heavy";
  font-size: 14px;
}
.comments-counter-publication a {
  text-decoration: none;
  color: black;
}
.comments-counter-publication a:hover {
  text-decoration: underline;
}

@media (max-width: 1050px) {
  /* .like-button-container-pollpost{
    width: 125px;
  } */
  .comments-publication {
    width: 120px;
    height: 20px;
  }
  .comments-publication-pollpost {
    width: 135px;
    height: 20px;
  }
  .likes-counter-publication,
  .comments-counter-publication {
    font-size: 12px;
  }
  .likes-counter-publication-pollpost,
  .comments-counter-publication-pollpost {
    font-size: 14px;
  }
  .logo-comments-publication {
    width: 0px !important;
  }
  .logo-comments-publication-pollpost svg {
    width: 20px !important;
    /* background-color: red; */
  }
  /* MODIFIER NOM QUAND BACKEND DISPO */
  .logo-comments-publication svg {
    width: 18px !important;
  }
}

@media (max-width: 900px) {
  .likes-comments-container-publication {
    width: 200px;
  }
  .likes-comments-container-publication-pollpost {
    width: auto;
  }
  .comments-publication {
    width: 120px;
    height: 20px;
  }
  .comments-publication-pollpost {
    width: 135px;
    height: 20px;
  }
  .likes-counter-publication,
  .comments-counter-publication {
    font-size: 10px;
  }
  .likes-counter-publication-pollpost,
  .comments-counter-publication-pollpost {
    font-size: 14px;
  }
  .logo-comments-publication {
    width: 0px !important;
  }
  .logo-comments-publication svg {
    width: 16px !important;
  }
  .logo-comments-publication-pollpost svg {
    width: 20px !important;
  }
}