.feed-side-navlink-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-family: "Britanica-Heavy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.feed-side-navlink-container:hover{
  font-size: 130%;
}