.banner-and-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: calc(100% - 30px);
  height: 100%;
  max-width: 1300px;
  max-height: 329px;
  position: relative;
  background-color: red;
}
.banner-and-profile-container img {
  width: 100%;
  height: auto;
}
.banner-container {
  position: absolute;
}
.user-profile-pic {
  position: absolute;
  z-index: 99;
  width: 12vw;
  max-width: 140px;
  max-height: 140px;
  height: auto;
  border-radius: 50%;
  left: 3.5%;
  right: 95%;
  /* top: 55%; */
  bottom: 1.5%;
}
.user-profile-pic img {
  width: 100%;
  height: auto;
  max-width: 140px;
  max-height: 140px;
  border-radius: 50% !important;
  border: 6px solid #ffffff;
}

@media (max-width: 1300px) {
}

@media (max-width: 1200px) {
  .user-profile-pic{
    bottom: 6%;
  }
}
@media (max-width: 1080px) {
  .user-profile-pic{
    bottom: 6%;
  }
}
@media (max-width: 970px) {
  .user-profile-pic{
    bottom: 10%;
  }
}
@media (max-width: 910px) {
  .user-profile-pic{
    bottom: 12%;
  }
}
@media (max-width: 870px) {

}
