.banner-and-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-height: 329px;
  position: relative;
}
.banner-container {
  display: flex;
  justify-content: center;
  max-width: 1246px;
  max-height: 300px;
  border-radius: 20px;
  position: relative;
}

.profile-pic-container {
  width: 170px;
  height: 170px;
  border-radius: 147px;
  border: 6px solid #ffffff;
  box-sizing: border-box;
  position: absolute;
  left: 1.605%;
  top: 53%;
  right: 84.751%;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .banner-and-profile-container {
    max-width: 1177.66px;
  }
  .banner-container {
    width: calc(1246px - 5%);
    height: calc(300px - 5%);
  }
  .profile-pic-container {
    width: 141px;
    height: 141px;
    left: 55px;
    top: 58%;
  }
}

@media (max-width: 1200px) {
  .banner-container {
    width: calc(1246px - 14%);
    height: calc(300px - 14%);
    max-width: 1055px;
  }
  .profile-pic-container {
    width: 131px;
    height: 131px;
    left: 30px;
    top: 55%;
  }
}
@media (max-width: 1080px) {
  .banner-container {
    max-width: 900px;
    width: calc(1246px - 22%);
    height: calc(300px - 22%);
  }
  .profile-pic-container {
    width: 121px;
    height: 121px;
    left: 15px;
    top: 55%;
  }
}
@media (max-width: 970px) {
  .banner-container {
    max-width: 860px;
    width: calc(1246px - 30%);
    height: calc(300px - 30%);
  }
  .profile-pic-container {
    left: 35px;
    top: 52%;
  }
}
@media (max-width: 870px) {
  .banner-container {
    max-width: 770px;
    width: calc(1246px - 34%);
    height: calc(300px - 34%);
  }
  .profile-pic-container {
    width: 111px;
    height: 111px;
    left: 15px;
  }
}
