.banner-and-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: calc(100% - 30px);
  height: 100%;
  max-width: 1300px;
  max-height: 329px;
  position: relative;
}
.banner-and-profile-container img {
  width: 100%;
}
.profile-pic-container {
  width: 170px;
  height: 170px;
  border-radius: 147px;
  border: 6px solid #ffffff;
  box-sizing: border-box;
  position: absolute;
  left: 1.605%;
  top: 53%;
  right: 84.751%;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .profile-pic-container {
    width: 141px;
    height: 141px;
    left: 55px;
    top: 58%;
  }
}

@media (max-width: 1200px) {
  .profile-pic-container {
    width: 131px;
    height: 131px;
    left: 30px;
    top: 55%;
  }
}
@media (max-width: 1080px) {
  .profile-pic-container {
    width: 121px;
    height: 121px;
    left: 15px;
    top: 55%;
  }
}
@media (max-width: 970px) {
}
@media (max-width: 870px) {
  .profile-pic-container {
    width: 111px;
    height: 111px;
    left: 15px;
  }
}
